@use "sass:math";

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

// Convert value to em.
@function em($size, $base-font-size: $govuk-root-font-size) {
    @return strip-unit($size) / strip-unit($base-font-size) * 1em;
}

$govuk-frontend-rounded: 0px !default;

$_maximum: 20px;
$_minimum: 2px;
$_padding_ratio: 0.75;

// https://github.com/alphagov/govuk-frontend/blob/main/src/govuk/components/input/_index.scss#L17
$_default-padding: govuk-spacing(1);
$_padding: math.clamp($_default-padding, ($_padding_ratio * $govuk-frontend-rounded), $_maximum);
$_border-radius: math.clamp($_minimum, $govuk-frontend-rounded, $_maximum);

@if ($_border-radius >= $_minimum) {
    .govuk-button,
    .govuk-error-summary,
    .govuk-file-upload,
    .govuk-notification-banner,
    .govuk-select,
    .govuk-tag,
    .govuk-textarea {
        border-radius: $_border-radius;
    }

    .govuk-file-upload,
    .govuk-select {
        padding-left: $_padding;
        padding-right: $_padding;
    }

    ////
    // Button
    // https://design-system.service.gov.uk/components/button/
    ////
    $_button_padding: math.clamp(govuk-spacing(2), $_padding, $_maximum);
    .govuk-button {
        padding-left: $_button_padding;
        padding-right: $_button_padding;
    }
    
    ////
    // Checkboxes
    // https://design-system.service.gov.uk/components/checkboxes/
    ////
    .govuk-checkboxes__label:before {
        // Dont use regular border-radius to avoid checkboxes
        // looking like radios.
        border-radius: math.clamp($_minimum, $_border-radius, 12px);
    }
    .govuk-checkboxes--small .govuk-checkboxes__label:before {
        // Dont use regular border-radius to avoid checkboxes 
        // looking like radios.
        border-radius: math.clamp($_minimum, $_border-radius, 7px);
    }
    
    ////
    // Notification Banner
    // https://design-system.service.gov.uk/components/notification-banner/
    ////
    $_banner_radius: math.floor(math.div($_border-radius, 1.3));
    .govuk-notification-banner__content {
        border-bottom-right-radius: $_banner_radius;
        border-bottom-left-radius: $_banner_radius;
    }
    .govuk-notification-banner__header {
        border-top-right-radius: $_banner_radius;
        border-top-left-radius: $_banner_radius;
    }
    
    ////
    // Panel
    // https://design-system.service.gov.uk/components/panel/
    ////
    .govuk-panel {
        border-radius: $_border-radius;
    }
    
    ////
    // Pagination
    // https://design-system.service.gov.uk/components/panel/
    ////
    .govuk-pagination__prev,
    .govuk-pagination__next,
    .govuk-pagination__item {
        border-radius: $_border-radius;
    }
    
    .govuk-pagination__prev {
        padding-left: $_padding;
    }
    
    .govuk-pagination__next {
        padding-right: $_padding;
    }
    
    ////
    // Tag
    // https://design-system.service.gov.uk/components/tag/
    ////
    .govuk-tag {
        padding-left: $_padding;
        padding-right: $_padding;
    }
    
    ////
    // Tabs
    // https://design-system.service.gov.uk/components/tabs/
    ////
    .govuk-tabs__list-item:first-child {
        border-top-left-radius: $_border-radius;
    }
    .govuk-tabs__list-item:last-child {
        border-top-right-radius: $_border-radius;
    }
    .govuk-tabs__panel {
        border-bottom-left-radius: $_border-radius;
        border-bottom-right-radius: $_border-radius;
    }
    
    ////
    // Textarea
    // https://design-system.service.gov.uk/components/textarea/
    ////
    .govuk-textarea {
        padding: $_padding;
    }
    
    ////
    // Text input
    // https://design-system.service.gov.uk/components/text-input/
    ////
    .govuk-input {
        border-radius: $_border-radius;
    }
    .govuk-input {
        padding-left: $_padding;
        padding-right: $_padding;
    }
    .govuk-input__prefix {
        border-top-left-radius: $_border-radius;
        border-bottom-left-radius: $_border-radius;
    }
    .govuk-input__prefix {
        padding-left: $_padding;
    }
    // If a text input is before a suffix.
    .govuk-input:nth-last-child(2) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-right: $_default-padding;
    }
    
    // If a text input is with only a prefix
    .govuk-input__prefix + .govuk-input:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: $_default-padding;
    }
    // If a text input is in-between a prefix and suffix.
    .govuk-input__prefix + .govuk-input:nth-last-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: $_default-padding;
    }
    
    .govuk-input__suffix {
        border-top-right-radius: $_border-radius;
        border-bottom-right-radius: $_border-radius;
    }
    .govuk-input__suffix {
        padding-right: $_padding;
    }
    
    // Adjust width classes
    $_width-addition: 1.5 * em($_padding);
    .govuk-input--width-30 {
        max-width: 29.5em + $_width-addition;
    }
    
    .govuk-input--width-20 {
        max-width: 20.5em + $_width-addition;
    }
    
    .govuk-input--width-10 {
        max-width: 11.5em + $_width-addition;
    }
    
    .govuk-input--width-5 {
        max-width: 5.5em + $_width-addition;
    }
    
    .govuk-input--width-4 {
        max-width: 4.5em + $_width-addition;
    }
    
    .govuk-input--width-3 {
        max-width: 3.75em + $_width-addition;
    }
    
    .govuk-input--width-2 {
        max-width: 2.75em + $_width-addition;
    }
}
